{
    "env": {
        "development": {
            "plugins": [
                "flow-react-proptypes",
                ["react-transform", {
                    "transforms": [{"transform": "react-transform-count-renders"}]
                }]
            ]
        },
        "production": {
            "plugins": [
                "transform-react-inline-elements",
                "transform-react-pure-class-to-function",
                "transform-react-remove-prop-types"
            ]
        }
    },
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-flow-strip-types"
    ],
    "presets": [
        "flow",
        ["env", {
            "excludes": [
                "transform-async-generator-functions",
                "transform-async-to-generator",
                "transform-regenerator"
            ],
            "modules": false,
            "targets": {
                "browsers": ["last 3 versions", "not Explorer < 11"]
            },
            "useBuiltIns": true
        }],
        "react",
        "stage-2",
        "es2017"
    ]
}
